p{
  font-family: {{fontFamily}};
  color: {{fontColour}}; 
  font-weight:bold;
  margin:0px;
  padding:10px;
}

h1{
  font-family: {{fontFamily}};
  color: {{fontColour}}; 
  font-weight:bold;
  font-size: 2em;
  padding:10px;
}

.container{
 float:right; 
}

.countdownContainer{
  background-color: {{bgColour}}; 
  border: 5px solid {{borderColour}};
  display:block;
  border-radius: 20px;
  float:right;
}

.countdownContainer p{
   font-size:75px; 
}

.eventContainer p{
    font-size:25px; 
    font-family: {{fontFamily}};
  color: {{fontColour}}; 
  
}

.eventContainer{
  background-color: {{bgColour}};
  border-radius: 20px;
  height:0px; 
  float:right;
  border: 2px solid {{borderColour}};
  
}